
body {
    background-color: #D8FDFE;
}

h1 {
    font-family: "Times New Roman";
    font-size: 46px;
}

h2 {
    color: magenta;
}

main {
    background-color: #acd8d9;
    padding-bottom: 1080px;
}

.container {
    width: 950px;
    margin: 0 auto;
}